body {
    margin: 0;
    height: 100%;
    background-color: black;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#layout {
    transform-style: preserve-3d;
    position: relative;
    height: 800px;
    transition: all 3s ease 0s;
    -moz-transition: all 3s ease 0s;
    -webkit-transition: all 3s ease 0s;
    -o-transition: all 3s ease 0s;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home {
    background-image: url('./../image/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    background-image: url('./../image/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.end {
    background-image: url('./../image/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
